<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-sm-6 col-xs-11">
            <h1 id="name">DEVIN GRIFFIN</h1>
            <img src="assets/invisibleHeadshot.png">
            <p>I study Computer Science at Washington University.</p>
            <p>I work as a Game Developer at <a href="https://www.clearworks4ears.com/">Clear For Ears</a>, a platform where users play games to improve their hearing.
            </p>
            <p>You can contact me at <em>dgriffin@wustl.edu</em> or <em>(573)205-3624</em></p>
            <br>
            <!-- <hr> -->
            <h2>Game</h2>
            <p>Score: {{score}}</p>
            <p>Top Score: {{highScore}}</p>

            
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
<hr>
<div #gameDiv id="gameDiv"></div>
<hr>
<div class="container">

    <div class="row">
            <div class="col-3">
            </div>
            <div class="col-sm-6 col-xs-11">
                <h2>Education</h2>
                <hr>
                <em>Washington University Fall 2017 - May 2021</em>
                <p>B.S. in Computer Science. GPA: 3.64/4.0</p>
                <p>Don Lang Scholar – full ride scholarship.</p>
                <p>Hagan Scholar – I manage a ~$17,000 Schwab investment account.</p>
                <h2>Work Experience</h2>
                <hr>
                <em>Software Engineer Intern at AT&T (Jun 2020 - Aug 2020)</em>
                <p>•	Added Rich Text Editing to AT&T Weather Website to all of the text inputs. </p>
                <p>•	Deployed AT&T Weather Website front-end + back-end to dev and prod. </p>
                <p>•	Used Angular to create a webapp that allows people to donate items to help those in need due to the coronavirus. </p>
                <p>•	Used React + Python + Node/Express to create a Rain Accumulation cellcite verification WebApp.</p>
                <em>Game Developer at Clear for Ears (Jun 2018 - Present)</em>
                <p>•	Redesigned the entire suite of games to make them less "laby" and more fun. </p>
                <p>•	Used Phaser to create <em>7</em> new auditory rehabilitation games. </p>
                <p>•	Used Angular and Firebase to redesign our website (previously AWS + PHP). </p>
                <p>•	Interned Summer ’18 and stayed on since. </p>
                <em>Web Developer at Washington University G.I.S. (Oct 2017 - May 2018)</em>
                <p>•	Used Ruby on Rails, GeoBlacklight, PostgreSQL, and the Boundless Suite to create a geospatial discovery web app to house WashU’s spatial data. </p>
                <em>Project Manager at DevSTAC (Sept 2017 - May 2018)</em>
                <p>•	Lead a team that used formidable forms and the Service Now API to digitize incident report forms for Barnes Jewish Hospital. </p>
                <em>Teacher's Assistant at Washington University (Jan 2018 - Jan 2020)</em>
                <p>•	Web Development for 3 semesters (Spring ‘18, Fall ‘18, Spring ‘19).</p>
                <p>•	Introduction to Computer Security (Fall ’19). </p>
                <h2>Projects</h2>
                <hr>
                <em>Coin Toss (2020)</em>
                <p>Used Ionic + Angular + Firebase to create an iOS App and Web App that uses simulation games to make unimportant decisions for you (ex: which coffee should I get today)</p>
                <em>Elemental Fighter (2019)</em>
                <p>Multiplayer 2D pixel art game that features lag free networking and skill-based combat. Unity2D</p>
                <em>Gamified Math Learning Platform (2018)</em>
                <p>Online math learning platform that lets students compete against each other in math games, to provide an incentive to learn math. React, Phaser, MySQL, SocketIO</p>
                <em>Sello (Letgo for Universities) (2018)</em>
                <p>iOS buying and selling platform for college students which allows you to filter by University. Swift, Firebase</p>
                <em>Family Fun Center App (2017)</em>
                <p>App that keeps track of schedule and hours worked by employees of a family fun center. Python, SQLite, Kivy</p>
                <h2>Awards</h2>
                <hr>
                <p>•	3rd in Programming and Coding at Missouri FBLA State Convention</p>
                <p>•	4th in Computer Programming at Missouri State Pummel Relays </p>
                <p>•	9th in Computer Problem Solving at Missouri FBLA State Convention</p>
                <p>•	Won Y’s Thoughts Entrepreneurship challenge with a Table Tennis Matchmaking app. </p>
                <h2>Technologies and Relevant Classes Taken</h2>
                <hr>
                <p>•	<em>Proficient:</em> Java, JavaScript, TypeScript, Phaser, Angular, Firebase </p>
                <p>•	<em>Basic:</em> Python, C++, C#, Arduino C, PHP, Swift, React, Unity, AWS, jQuery, MySQL</p>
                <p>•	<em>Relevant Classes: </em>Data Structures and Algorithms, Computer Science II (Arduino Class), Web Development, Object-Oriented Software Development Laboratory (C++), Rapid Prototype Development and Creative Programming (Full Stack Web Dev), Mobile Application Development (iOS Dev in Swift), Introduction to Computer Security, Video Game Programming (Unity), Analysis of Algorithms, Mobile App Development II, Programming Tools and Techniques, Video Game Programming II, Internet of Things, Software Engineering Workshop, Introduction to Systems Software</p>
            </div>
            <div class="col-3">
            </div>
        </div>
</div>
<!-- <router-outlet></router-outlet> -->