<!-- The content below is only a placeholder and can be replaced.
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
      </div>
    </div>
  </nav> -->

<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h1 id="name">DEVIN GRIFFIN</h1>
            <img src="../assets/invisibleHeadshot.png">
            <p>I study Computer Science at Washington University.</p>
            <p>I work as a Game Developer at <a href="https://www.clearworks4ears.com/">Clear For Ears</a>, a platform where users play games to improve their hearing.
            </p>
            <p>PLAY MY RESUME GAME BELOW</p>
            <!-- <hr> -->
            <h2>RESUME GAME</h2>
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <h2>Education</h2>
                <hr>
                <em>Washington University Fall 2017 - May 2021</em>
                <p>B.S. in Computer Science. GPA: 3.61/4.0</p>
                <p>Don Lang Scholar – full ride scholarship.</p>
                <p>Hagan Scholar – I manage a $15,000 Schwab investment account.</p>
                <h2>Work Experience</h2>
                <hr>
                <em>Game Developer at Clear for Ears (Jun 2018 - Present)</em>
                <p>•	Redesigned the entire suite of games to unify the graphic style and make them fun. </p>
                <p>•	Used Phaser to create two new auditory rehabilitation games. </p>
                <p>•	Used Angular and Firebase to redesign our website (previously AWS + PHP). </p>
                <p>•	Interned Summer ’18 and stayed on since. </p>
                <em>Web Developer at Washington University G.I.S. (Oct 2017 - May 2018)</em>
                <p>•	Used Ruby on Rails, GeoBlacklight, PostgreSQL, and the Boundless Suite to create a geospatial discovery web app to house WashU’s spatial data. </p>
                <em>Project Manager at DevSTAC (Sept 2017 - May 2018)</em>
                <p>•	Lead a team that used formidable forms and the Service Now API to digitize incident report forms for Barnes Jewish Hospital. </p>
                <em>Teacher's Assistant at Washington University (Jan 2018 - Present)</em>
                <p>•	Web Development for 3 semesters (Spring ‘18, Fall ‘18, Spring ‘19).</p>
                <p>•	Introduction to Computer Security (Fall ’19). </p>
                <h2>Projects</h2>
                <hr>
                <em>Elemental Fighter (2019)</em>
                <p>Multiplayer 2D pixel art game that features lag free networking and skill-based combat. Unity2D</p>
                <em>Gamified Math Learning Platform (2018)</em>
                <p>Online math learning platform that lets students compete against each other in math games, to provide an incentive to learn math. React, Phaser, MySQL, SocketIO</p>
                <em>Sello (Letgo for Universities) (2018)</em>
                <p>iOS buying and selling platform for college students which allows you to filter by University. Swift, Firebase</p>
                <em>Family Fun Center App (2017)</em>
                <p>App that keeps track of schedule and hours worked by employees of a family fun center. Python, SQLite, Kivy</p>
                <h2>Awards</h2>
                <hr>
                <p>•	3rd in Programming and Coding at Missouri FBLA State Convention</p>
                <p>•	4th in Computer Programming at Missouri State Pummel Relays </p>
                <p>•	9th in Computer Problem Solving at Missouri FBLA State Convention</p>
                <p>•	Won Y’s Thoughts Entrepreneurship challenge with a Table Tennis Matchmaking app. </p>
                <h2>Technologies and Relevant Classes Taken</h2>
                <hr>
                <p>•	<em>Proficient:</em> Java, JavaScript, TypeScript, Phaser </p>
                <p>•	<em>Basic:</em> Python, C++, C#, Arduino C, PHP, Swift, React, Angular, Unity, Firebase, AWS, jQuery, MySQL</p>
                <p>•	<em>Classes: </em>Data Structures and Algorithms, Computer Science II (Arduino Class), Web Development, Object-Oriented Software Development Laboratory (C++), Rapid Prototype Development and Creative Programming (Full Stack Web Dev), Mobile Application Development (iOS Dev in Swift), Introduction to Computer Security, Video Game Programming (Unity).</p>
            </div>
            <div class="col-3">
            </div>
        </div>
</div>
<!-- <router-outlet></router-outlet> -->